.App {
  display: flex;
  min-height: 100vh;
}
.createList {
  flex: 2;
  background-color: antiquewhite;
}
.list {
  flex: 1;
  background-color: blueviolet;
}
#input {
  margin-left: 3vw;
  height: 5vh;
  width: 40vw;
  border-radius: 5px;
}
.plus {
  height: 5vh;
  width: 5vw;
  border-radius: 1px;
}
.toDo {
  background-color: burlywood;
  border-style: solid;
  border-color: cadetblue;
  border-width: thin;
  padding: 20px;
  margin: 0px;
}
